@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body-prova {
  height: 200rem
}


html {
  font-family: 'Nunito', sans-serif !important;
  letter-spacing: -.03rem !important;
  font-size: 100% !important;
  background-color: #fff !important;
  -webkit-tap-highlight-color: transparent;
}

html.noscroll {
  margin-top: 0 !important;
}

html.noscroll,
html.noscroll body {
  overflow: hidden !important;
  height: 100% !important;
}

html.noscroll-long {
  overflow-y: scroll !important;
}

#toolset {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 8;
}

.btn {
-webkit-align-items: center;
align-items: center;
background-color: transparent;
border: 1px solid #000;
border-radius: 0;
color: #000;
cursor: pointer;
display: -webkit-flex;
display: flex;
font-family: Open Sans,sans-serif;
font-size: 1rem;
font-weight: 700;
-webkit-justify-content: center;
justify-content: center;
line-height: 120%;
padding: 1rem;
text-align: center;
text-decoration: none;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
vertical-align: middle;
}

.btn:hover {
background-color: #f8f8f8;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.mobile .mobile-display-none {
	display: none;
}

.grid-powered-paypal {
	display: flex;
    float: right;
}

.mobile .grid-powered-paypal {
	display: flex;
    float: none;
}

.grid-powered-text {
	display: flex;
    margin-right: 0.5rem;
}

.powered-paypal svg {
	height: 24px;
}

*,
:after,
:before {
  box-sizing: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="checkbox"] {
  position: relative;
}

/**
 * Content
 */

.main_container {
  min-height: 100vh;
  overflow: hidden;
  margin-top: -132px;
}

.mobile .main_container {
  margin-top: -116px;
}

body {
  background-color: #fff;
  color: #000;
}

a:active {
  opacity: 0.8;
}

.page a.active {
  opacity: 0.5;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 700 !important;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
}

sub {
  top: 0.3em;
}

sup {
  top: -0.4em;
}

s {
  text-decoration: line-through;
}

img {
  border: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0 0 0 1em;
}

blockquote {
  margin: 0;
  padding: 0 0 0 2em;
}

hr {
  background: rgba(127, 127, 127, 0.2);
  border: 0;
  height: 1px;
  display: block;
}

/**
 * Editor styles
 */

[data-predefined-style="true"] bodycopy {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  font-style: normal;
  line-height: 1.4;
  text-align: justify;
}

[data-predefined-style="true"] bodycopy a {
  color: #000;
  padding-bottom: 0.1em;
  border-bottom: 0em solid rgba(127, 127, 127, 0.2);
  text-decoration: none;
}

[data-predefined-style="true"] bodycopy a:hover {
  text-decoration: underline;
}

bodycopy a.image-link,
bodycopy a.icon-link,
bodycopy a.image-link:hover,
bodycopy a.icon-link:hover {
  border-bottom: 0;
  padding-bottom: 0;
}

[data-predefined-style="true"] h1 {
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #000;
}

[data-predefined-style="true"] h1 a {
  color: #000;
}

[data-predefined-style="true"] h2 {
  font-style: normal;
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 2.5rem;
  line-height: 3rem;
}

[data-predefined-style="true"] h2 a {
  color: #000;
}

[data-predefined-style="true"] h3 {
  font-style: normal;
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 2rem;
  line-height: 2.5rem;
}

[data-predefined-style="true"] h3 a {
  color: #000;
}

[data-predefined-style="true"] h6 {
  display: inline-block;
  font-size: 1rem; 
  line-height: 1.4;
  font-style: normal;
  color: #000;
}

[data-predefined-style="true"] h6 a {
  color: #000;
  border-bottom-width: 0em;
}

[data-predefined-style="true"] h6 a:hover {
  color: #000;
  text-decoration: underline;
}

[data-predefined-style="true"] small {
  display: inline-block;
  font-size: 1rem; 
  line-height: normal;
  font-style: normal;
  font-weight: 500;
  color: #000;
}

[data-predefined-style="true"] small a {
  color: #000;
  border-bottom-width: 0em;
}

[data-predefined-style="true"] small a:hover {
  color: #000;
  text-decoration: underline;
}

#header {
  display: flex;
  padding: 2rem;
  margin: 0 2rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 767px) {
  #header {
  display: flex;
  padding: 2rem;
  margin: 0 0rem;
  margin-top: 0rem;
}
}

.nav {
  display: inline-block;
  position: relative;
  float: right;
  width: 100%;
}

#menu {
  background: #fff;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 9;
}
#menu.open {
  opacity: 1;
  visibility: visible;
}
#menu.open li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
#menu.open li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#menu.open li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#menu.open li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#menu.open li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#menu.open li:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
#menu.open li:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#menu.open li:nth-child(8) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
#menu.open li:nth-child(9) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
#menu.open li:nth-child(10) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#menu.open li {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
#menu ul:hover a {
  opacity: 0.5;
}
#menu ul a {
  -webkit-transform: translateZ(0);
  transition: opacity 0.3s ease-in-out;
}
#menu ul a:hover {
  opacity: 1;
}
#menu .main-nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#menu .main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu .main-nav a {
  display: block;
  font-size: 3rem;
  color: #000;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  text-transform: lowercase;
}
#menu .main-nav a:first {
  padding-top: 0;
}
#menu .menu-footer {
  padding: 2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
#menu .menu-footer ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu .menu-footer ul li {
  display: block;
  margin: 1rem 1rem;
}
#menu .menu-footer a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  text-transform: lowercase;
}

.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 50px;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: relative;
  vertical-align: middle;
  width: 50px;
  z-index: 1110;
}
.toggle-menu span {
  background-color: transparent;
  content: "";
  display: block;
  height: 0px;
  left: calc(50% - 13px);
  position: absolute;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
    transform 0.2s linear;
  width: 30px;
}
.toggle-menu span:before,
.toggle-menu span:after {
  background-color: #000;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
    transform 0.2s linear;
  width: 30px;
    border-radius: 1rem;
}
.toggle-menu span:before {
  top: 6px;
}
.toggle-menu span:after {
  top: -6px;
}
.toggle-menu.active span {
  background-color: transparent;
  transition: background 0.2s ease-out;
}
.toggle-menu.active span:before,
.toggle-menu.active span:after {
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
.toggle-menu.active span:before {
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}
.toggle-menu.active span:after {
  top: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}

.overlay-side-nav-open-open {
  overflow: hidden;
}

/**
 * icon header
 */

.pinned .page_container.overlay[local-style="22305007"] {
  z-index: 6 !important;
}

.ghost-header {
  position: fixed;
}

#sfoglia {
  position: static;
  width: fit-content;
}

#mattarello {
  position: relative;
  transition: 0.4s;
  top: -1.75rem;
  left: -1.2em;
  width: auto;
  height: auto;
  display: inline-flex;
}

.icon-sfoglia svg {
  position: realitive;
  margin-bottom: 0em;
  width: auto !important;
  height: 3rem !important;
  left: 1rem;
  top: 1rem;
}

.icon-mattarello svg {
  position: relative;
  margin-bottom: 0;
  width: auto !important;
  height: 0.6rem !important;
  left: 0rem;
  top: 0rem;
  transform-origin: center;
  transform: rotate(-0deg);
}

.mobile .icon-mattarello svg {
  left: 0rem;
}

.logo {
  position: static;
  width: fit-content;
}

.icon-logo svg {
  position: relative;
  margin-bottom: 0em;
  width: auto !important;
  height: 3rem !important;
  left: 0rem;
  top: 0rem;
  margin-left: 0.4rem;
}


