@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* HTML */

html {
  font-family: "Nunito", sans-serif !important;
  font-size: 100%;
  letter-spacing: -.04rem;
  background-color: #ffffff;
  quotes: "“" "”";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html.noscroll {
  margin-top: 0 !important;
}

html.noscroll,
html.noscroll body {
  overflow: hidden !important;
  height: 100% !important;
}

html.noscroll-long {
  overflow-y: scroll !important;
}

body,
input,
textarea,
select,
label,
button {
  font-synthesis: none;
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
}

input {
  display: none;
}

body,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p + *,
ul + *,
ol + * {
  margin-top: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

pre,
code,
address,
caption,
th,
figcaption {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}

fieldset,
iframe {
  border: 0;
}

caption,
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
body,
header,
nav,
main,
section,
summary,
details,
hgroup,
figure,
figcaption {
  display: block;
}

audio,
canvas,
video,
progress {
  vertical-align: baseline;
}

button,
input {
  overflow: visible;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="checkbox"] {
  position: relative;
}

/**
 * Content
 */

a:active {
  opacity: 0.8;
}

.page a.active {
  opacity: 0.5;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 700 !important;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
}

sub {
  top: 0.3em;
}

sup {
  top: -0.4em;
}

s {
  text-decoration: line-through;
}

img {
  border: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0 0 0 1em;
}

blockquote {
  margin: 0;
  padding: 0 0 0 2em;
}

hr {
  background: rgba(127, 127, 127, 0.2);
  border: 0;
  height: 1px;
  display: block;
}

.content img {
  float: none;
  margin-bottom: 0.5em;
}

/**
 * Editor styles
 */

/* BODY */

body {
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  min-width: 200px;
  background-color: #ffffff;
  color: #1d1d1f;
}

body a {
  color: #000;
  padding-bottom: 0.1em;
  border-bottom: 0em solid rgba(127, 127, 127, 0.2);
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

body a.image-link,
body a.icon-link,
body a.image-link:hover,
body a.icon-link:hover {
  border-bottom: 0;
  padding-bottom: 0;
}

h1 {
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #000;
}

h1 a {
  color: #000;
}

h2 {
  font-style: normal;
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 a {
  color: #000;
}

h3 {
  font-style: normal;
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 a {
  color: #000;
}

h6 {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.4;
  font-style: normal;
  color: #000;
}

h6 a {
  color: #000;
  border-bottom-width: 0em;
}

h6 a:hover {
  color: #000;
  text-decoration: underline;
}

small {
  display: inline-block;
  font-size: 1rem;
  line-height: normal;
  font-style: normal;
  font-weight: 500;
  color: #000;
}

small a {
  color: #000;
  border-bottom-width: 0em;
}

small a:hover {
  color: #000;
  text-decoration: underline;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  margin-top: ;
  padding: 0 4rem;
  padding-bottom: 4rem;
}

@media only screen and (max-width: 767px) {
  .main-container {
  padding: 0 2rem;
  padding-bottom: 2rem;
}
}


















/*
 * Cookie banner
 */

.content-cookie-banner {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .content-cookie-banner {
    display: inline-block;
  }
}

.cookie-banner,
.cookie-settings {
  width: auto;
  margin-left: 4rem;
  margin-right: 4rem;
  -webkit-align-items: center;
  align-items: center;
  background: #f2ebda;
  bottom: -100%;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: auto;
  max-height: 100%;
  position: fixed;
  transition: all 0.5s ease-in-out;
  padding: 4rem;
  border-radius: 1rem;
  overflow: overlay;
  z-index: 9999;
}

@media only screen and (max-width: 767px) {
  .cookie-banner,
  .cookie-settings {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;
  }
}

.cookie-banner a,
.cookie-settings a {
  color: #000;
}

.cookie-banner.active,
.cookie-settings.active {
  top: 0;
  bottom: 4rem;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 767px) {
  .cookie-banner.active,
  .cookie-settings.active {
    top: 2rem;
    bottom: 2rem;
  }
}

.cookie-banner-description {
  margin-right: 5rem;
}

@media only screen and (max-width: 767px) {
  .cookie-banner-description {
    margin-right: 0;
  }
}

.cookie-settings-details-performance-header {
  font-weight: 700;
}

.cookie-banner-description p,
.cookie-settings-description p {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.cookie-banner-actions > button,
.cookie-settings-actions > button {
  width: 100%;
  background: none;
  border: 0;
  background-color: #1a1917;
  color: #fff;
  padding: 1rem;
  font-weight: 700;
  border-radius: 1rem;
  text-align: center;
}

.cookie-banner-actions > button:first-child,
.cookie-settings-actions > button:first-child {
  margin-bottom: 1rem;
}

.cookie-banner-actions {
  display: block;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 1rem;
  width: 15rem;
}

@media only screen and (max-width: 767px) {
  .cookie-banner-actions {
    width: 100%;
  }
}

.cookie-banner-actions > button:first-child {
  margin-bottom: 1rem;
}

.cookie-banner-actions > button:last-child {
  margin-right: 1.5rem;
}

.cookie-settings {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.cookie-settings .toggle {
  margin-bottom: 1.5rem;
}

.cookie-settings-actions {
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 1rem;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .cookie-settings-actions {
    display: inline-block;
  }
}

.cookie-settings-actions > button:first-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .cookie-settings-actions > button:first-child {
    margin-bottom: 1rem;
  }
}

.cookie-settings-actions > button:last-child {
  margin-right: 1.5rem;
}

.toggle {
  margin-bottom: 0.375rem;
  margin-left: 3rem;
  margin-top: 0.375rem;
}

.toggle input[type="checkbox"] {
  display: none;
}

.toggle label {
  position: relative;
}

.toggle label.hidden {
  display: none;
}

.toggle input[type="checkbox"] + label:before {
  background: #bfbaac;
  border-radius: 12px;
  height: 1.5rem;
  left: -48px;
  top: 0;
  width: 2.5rem;
}

.toggle input[type="checkbox"] + label:after,
.toggle input[type="checkbox"] + label:before {
  content: " ";
  cursor: pointer;
  display: block;
  position: absolute;
  transition: all 0.3s ease-in;
}

.toggle input[type="checkbox"] + label:after {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  height: 1rem;
  left: -2.75rem;
  top: 0.25rem;
  width: 1rem;
}

.toggle input[type="checkbox"]:checked + label:before {
  background: #cc4400;
  transition: all 0.3s ease-in;
}

.toggle input[type="checkbox"]:checked + label:after {
  left: -1.8125rem;
  transition: all 0.3s ease-in;
}

.toggle input[type="checkbox"]:disabled + label:after,
.toggle input[type="checkbox"]:disabled + label:before {
  cursor: not-allowed;
  opacity: 0.4;
}

.toggle input[type="checkbox"]:disabled + label {
  color: #f2f2f2;
}


